/*************** NAVIGATION BAR ***************/
  .profile-navbar { /* התפריט למעלה*/
  background-color: #383847;
  padding: 10px 20px;
  display: flex;
  align-items: center; /* שם באמצע מבחינת גובה */
  position: fixed;  /* מדביק למעלה */
  top: 0; /* מדביק למעלה */
  width: 100%; /* שהכל יהיה מלא */
  /*justify-content: center;  Center the content horizontally */
  /* color: #fff; */
  /* z-index: 1000; */
  /*******************/
  /*left: 0; כל אלו הורסים את התפריט למעלה לא לגעת בהם!!!
  right: 0;
  width: max-content;
  height: max-content;*/
}
  
.profile-logo-container {
  flex: 1; /* שם את הלוגו הכי בשמאל */
  display: flex;
  justify-content: flex-start;
}

.profile-logo{
  width: 60px;
  height: 60px;
  margin-left: 20px;
  transition: box-shadow 0.4s ease, background-color 0.4s ease;
  /*margin-top: 1px; 
  margin-bottom: 1px;*/
}
.profile-logo:hover{
  background-color: #1e1b59;
  box-shadow: 0 0 30px 10px #3f37b1; /* rgba(47, 0, 255, 0.6); */
  /* גורם ללוגו להיות זוהר מאחורה כשעוברים מעליו */
}
  
.profile-center-links {
  flex: 2; /* Flex grows more to center it */
  display: flex;
  justify-content: center; /* Centers the nav items */
}

.profile-tab-list { /* הכפתורים בתפריט שיסודרו בשורה ולא בטור*/
  list-style-type: none; /* מוריד את הבולטים */
  padding: 0; /* Remove default padding */
  display: flex; /* שם בשורה */
  gap: 15px; /* הרווח בין כל כפתור */
  margin: 0;
}
  
.profile-button {
  background-color: #007bff;
  color: white; /* צבע הפונט בכפתורים למעלה */
  letter-spacing: 0.6px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 100px;
  padding: 10px 30px;
}
.profile-button:hover {
  background-color: #218cff;
  color: #f0f0f0;
}

.profile-logout-container {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Aligns the Log Out button on the right */
}

.profile-logout-button {
  background-color: #1b1b1f;
  color: white; /* צבע הפונט בכפתורים למעלה */
  font-size: 16px;
  border-radius: 100px;
  padding: 10px 20px;
  /* font-weight: bold; */
  /* letter-spacing: 0.6px; */
}
.profile-logout-button:hover {
  background-color: #262630;
  border-color: #000;
}

/* TOP NAVIGATION BAR */

/* PROFILE CONTAINER */

/* .ignore{
  background-color: #218cff;
} */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /*center; !!לא לשים את זה!*/
  min-height: 85vh;/*min-content*/
  height: 100vh; /* חשוב מאוד לא למחוק */
  padding-top: 30px;
  padding-bottom: 10px;
  overflow: hidden; /* Ensures no unnecessary scroll on the container */ 
}

.profile-container2{ /* איפה שכתוב הפרטים של הבן אדם */
  /* נותן לעשות סקרולר אם יש יותר מדי פוסטים */
  /* overflow: scroll; */ /* לא לשים את זה זה סקרולר לא קשור */
  /* border-radius: 30px; */
  /* max-width: 100%; max-content; */
  /* width: 100%; */
  /* min-width: min-content;*/
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* color: white; */
}

/*****************************************************************/
.profile-headline-section{
  /* background-color: #db2d2d; */
  text-align: center;
  margin-bottom: 10px; /* המרחק מלמעלה */
  margin-top: 0px; /* המרחק בפנים */
  padding-top: 0px;
  /* max-width: 90vw; */
  width: 100vw; /* Occupy 90% of the viewport width, leaving space on both sides */
  /* background-color: #ffffff; */
  color: #f3f4f6;
  
}

.profile-headline{
  font-size: 40px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
  text-align: center;
}

.profile-details-img {
  height: 150px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin-bottom: 0px;
  margin-top: 10px;
}

.profile-details-row{
  display: flex;
  justify-content:center;
  gap: 200px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* color: #000000; */
  /* text-align: center; */
}

.profile-details-text{
  color: #f3f4f6;
  font-size: 17px;
  text-transform: capitalize;
  /* margin: 0; */
  /* padding: 0; */
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-top: 0px;
  /* margin: 0 10px; */
  /* margin-bottom: 0px; */
  /* padding: 5px; */
}

.profile-tab-menu{
  /* display: flex; */
  /* justify-content: center; */
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 0px;
  
}

.profile-tab{
  background-color: #c23c2a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  /* transition: background-color 0.3s ease; */
}
.profile-tab.active {
  background-color: #007bff;
}

.profile-tab-content{ /* פה לא לשים סקרולר!!! */
  flex-grow: 1;
  width: 100%;
  height: calc(100vh - 200px); /* Adjust height based on the header and padding */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* center */
  overflow: hidden;
  position: relative; /* Required for sticky header */
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  /* overflow: scroll; */
}


/*margin:  מבחוץ */
/*padding:  מבפנים */ 
/* NITZAN GON CHANGE */
.profile-reports-section{ /*זה החלק הפנימי של הריפורטים*/
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  height: 90%;
  max-width: 100%;
  max-height: 100%;
  width: auto; /* עושה שיהיה באמצע */
  overflow: scroll; /* פה צריך סקרולר */
  overflow-x: auto; /* זה ביטל את הסקרולר המיותר של הצדדים */
  /* margin-bottom: 40px; */
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}

.profile-reports-section-txt {
  color: #aaa;
}

.profile-loading{
  color: white;
}

