.present-report-container {
    color: black;
    background-color: #fee4e4; /* was white */
    position: fixed;
    top: 50%; /* new */
    left: 50%; /* new */
    right: 50%; /* new */
    width: 500px; /* new Increase the width (was 300) */ 
    border: 1px solid #ccc;
    border-radius: 12px; /* new Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Softer shadow */
    padding: 20px;
    z-index: 1000;
    transform: translate(-50%, -50%); /* new */
}

.present-report-top-header{
    padding-bottom: 30px;
}

.present-report-top-header-text{
    color: black;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 0px;
}

.present-report-header {
    display: flex;
    justify-content: space-between; /* Spread items across the row */
    align-items: flex-start; /* Vertically align them */
    margin-bottom: 15px;
    font-size: 16px;
}

.present-report-section{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.present-report-details-left,
.present-report-details-center,
.present-report-details-right {
    flex:1;
}

.present-report-label{
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.present-report-value{
    font-size: 16px;
    color: #333;
}

.present-report-details-right, .present-report-value {
    font-size: 12px; /* Smaller for time */
    color: #999;
}

.present-report-img {
    max-width: 100%;
    height: auto;
    /* margin-bottom: 10px; */
    margin-bottom: 15px;
    border-radius: 8px; /* Rounded image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Image shadow */
}

.present-report-txt {
    color: #333;
    max-width: 100%;
    height: auto;
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 1.4; /* Better text readability */
}

.present-report-buttons{
    display: flex;
    justify-content: space-between; /* Spread buttons evenly */
    margin-right: 5px;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
}
  
.present-report-buttons button {
    flex: 1;
    margin-right: 10px;
    margin-top: 0px;
    padding: 8px 12px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

.present-approve-button{
    background-color: #28a745;
}

.present-deny-button{
    background-color: #dc3545;
}

.present-dont-know-button{
    background-color: #ffc107;
}

.present-later-button{
    background-color: #007bff;
}